bin/
obj/
.DS_Store
*.userprefs
*.suo
packages/
Android/SimplyMobile.Data/Resources/Resource.Designer.cs
Android/SimplyMobile.Data/Resources/Resource.Designer.cs
iOS/Components/*
Android/Components/*
Core/Tests/TextSerializationTests/test-results/TextSerializationTests.csproj-Debug-2013-11-07.xml

*.test-cache
Android/SimplyMobile.Android/Resources/Resource.designer.cs
Core/SimplyMobile.Web/SimplyMobile.Web.iOS.csproj.user

Android/Tests/BingTests/Resources/Resource.designer.cs

Android/Tests/BingTests/Resources/Resource.designer.cs

Android/Tests/DependencyInjectionTests/Resources/Resource.designer.cs

Android/Tests/DeviceTests/Resources/Resource.designer.cs

Android/Tests/DeviceTests/SmsBlockTest/Resources/Resource.designer.cs

Android/Tests/ObservableCollectionTest/Resources/Resource.Designer.cs

Android/Tests/StockQuote/Resources/Resource.designer.cs

Android/Tests/TextSerializationTests/Resources/Resource.designer.cs

Android/Tests/TextSerializationTests/Resources/Resource.designer.cs

Android/Tests/WebClientTest/Resources/Resource.designer.cs

Android/Tests/WebClientTest/Resources/Resource.designer.cs
Android/SimplyMobile.Android/Resources/Resource.designer.cs
