bin/
obj/
.DS_Store
*.userprefs
*.suo
packages/
Android/SimplyMobile.Data/Resources/Resource.Designer.cs

Android/SimplyMobile.Data/Resources/Resource.Designer.cs

iOS/Components/json.net-4.5.11.png

iOS/Components/json.net-4.5.11.info
